<div class="logo">
	<h1>Time Tracker</h1>
</div>

<% if current_user %>
	<div class="flexbox">
		<p><%= current_user.email %></p>
	</div>
	<ul class="nav nav-tabs custom-text">
		<li class="nav-item custom-text">
			<%= link_to "Home", root_path, class: "nav-link #{active?(root_path)}" %>
		</li>
		<li class="nav-item">
			<%= link_to "Time Entries", posts_path, class: "nav-link #{active?(posts_path)}" %>
		</li>

		<%= render 'shared/audit_log_tab' if policy(AuditLog).index? %>

		<li class="nav-item">
			<%= link_to "Request Overtime", new_post_path, class: "nav-link #{active?(new_post_path)}", id: 'new_post_from_nav' %>
		</li>
		
		<li class="dropdown float-right ml-auto nav-item">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">Account<strong class="caret"></strong></a>
			<ul class="dropdown-menu custom-menu">

				<%= render 'shared/admin_dashboard_tab' %>

				<li>
					<%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link' %>
				</li>
			</ul>
		</li>
	</ul> 
<% end %>