<!DOCTYPE html>
<html>
  <head>
    <title>Overtime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div id="notice_wrapper">
        <p class="alert alert-success"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div id="alert_wrapper">
        <p class="alert alert-warning"><%= alert %></p>
      </div>
    <% end %>

    <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/nav' %>
          <div class="mt-4">

            <%= yield %>

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
